#sidenav {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
    margin-bottom: 20px;
  }
  
  #sidenav.fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  #addapp {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.5s ease-in-out;
      margin-bottom: 20px;
      height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
   left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.445);
    backdrop-filter: blur(5px);
    overflow-x: hidden;
    
    transition: opacity 1s; 
    }
    
    #addapp.fadeOut {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  
  /* Bounce In */
  .hvr-bounce-in {
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: perspective(1px) translateZ(0);
     transform: perspective(1px) translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
     -webkit-transition-duration: 0.5s;
     transition-duration: 0.5s;
   }
   .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
     -webkit-transform: scale(1.2);
     transform: scale(1.2);
     -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
     transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
   }
  
   .grid-container {
      width: 100%;
      margin-top: 20px;
      position: relative; /* or 'absolute' if it's within another positioned element */
    max-height: 600px; /* This is where you decide the scroll threshold */
    overflow-y: scroll;
  
    }
    .apps-grid {
      display: grid;
    grid-template-columns: repeat(6, 1fr); /* Creates 6 columns */
    gap: 1rem;
    padding: 1rem;
    max-width: 1200px; /* Adjust this based on the total width of 6 app shortcuts */
    margin: auto;
    overflow-y: auto;
    align-items: center;
  
     /* Center the grid on the page */
    }
    
    /* Style for each app shortcut */
    .app-shortcut {
      position: relative;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      background-color: #212121;
      display: flex;
      cursor:pointer;
    }
    
    /* Style for the app images */
    .app-shortcut img {
      width:48px;
      height:48px;
      border-radius: 60%;
    }
  
    .apptext {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        right: 0;
        top: 0;
        left:40px;
        margin-top: 2px;
    }
    
    /* Style for the pin/unpin buttons */
    .pin-button {
      position: relative;
      bottom: 0;
      right: 0;
      margin: 10px;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.445);
  backdrop-filter: blur(10px);
  color: #ffffff;
      font-size: 0.8em;
    }
    
    /* Style for the form inputs and button */
    #newAppForm input, #newAppForm button {
      width: 100px;
    }
    
    /* Clear the form on success */
    .clear-input {
      clear: both;
      display: block;
      padding: 1px;
      margin: 5px;
      border: none;
      background: none;
    }/* Grow Rotate */
  .hvr-grow-rotate {
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
    }
    .hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
      -webkit-transform: scale(1.1) rotate(4deg);
      transform: scale(1.1) rotate(4deg);
    }
  
    #searchBar {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      font-size: 16px;
    }