@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

body {
  text-decoration: none;
  font-family: "Inter";
  background: #1E1E1E;

}


.column {
  width: 145px;
  transition: all 0.2s ease;
  cursor: crosshair;
  background: rgb(151,0,255);
  background: linear-gradient(122deg, rgba(151,0,255,1) 0%, rgba(0,116,166,1) 46%, rgba(0,255,211,1) 100%);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin: 0;
  
}

.column img {
  position: absolute;
  width: 145px;
  height: 145px;
  border-radius: 0px;
  transition: all 0.2s ease;
  border-radius: 10px;
}

.column p {
  width: 145px;
  height: 19px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #1E1E1E;
  text-shadow: 0px 0px 30px rgba(20, 255, 189, 0.38);
  padding-top: 136px;
  padding-bottom: 12px;
}

.column:hover {
  transform: scale(1.2);
}

.column:hover .label {
  transform: translateX(-50%) scale(1.3);
}

.input-container {
	position: relative;
	margin-top: 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5em;
	}
	
	input {
	  padding: 20px;
	  width: 550px;
	  border-radius: 5px;
	  background: #353535;
	  text-align: center;
	  font-size: 24px;
	  border: none;
	  outline: none;
	  color: white;
	}

	select {
		padding: 20px;
		border-radius: 5px;
		background: #353535;
		color: white;
		font-size: 20px;
		border: 0px;
		outline: none;
    cursor: pointer;
	  }
.container-apps {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.3em;
  flex-direction: row;
}
.pinned-apps {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.3em;
}
