#sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
 left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.445);
  backdrop-filter: blur(5px);
  overflow-x: hidden;
  opacity: 1;
  transition: opacity 1s; 
}

/* Style the sidenav links and the dropdown button */
#sidenav a, #sidenav button, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #f1f1f1;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
#sidenav .closebutton:hover, .dropdown-btn:hover {
  color: #1983f0;
}

#sidenav.fade {
  opacity: 0;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: black;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown {
  background-color: #1f1f1f;
  border-radius: 30px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.closebutton {
  top: 20px;
  right: 10px;
  position: absolute;
}

#settings-boxes {
  margin-top: 20px;
  background-color: #363636;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
}

#settings-boxes h2, p {
  color: white;
}

#barswitch {
  font-size: 50px;
  color: white;
}

#iconswitch {
  font-size: 50px;
  color: white;
}
.names {
  margin-left: 5px;
  font-size: 13px;
  color: white;
  font-family: 'Noto Sans';
  cursor: pointer;
  text-decoration: none;
  font-weight: none;
}

#sidenav {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
  margin-bottom: 20px;
}

#sidenav.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.button-save {
  width: 50px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 30px;
  margin-left: 5px;
  font-size: 17px;
  font-family: Noto Sans;
}

.button-save:before {
  content: '';
  background: linear-gradient(45deg, #1983f0, #230063, #303030);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 30px;
}

.button-save:active {
  color: #000
}

.button-save:active:after {
  background: transparent;
}

.button-save:hover:before {
  opacity: 1;
}

.button-save:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 30px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

