:root {
    --background-primary: #000;
    --input-text-color: #fff;
    --input-placeholder-color: #aaa;
    --input-background-color: #222;
    --input-border-color: #a800ff;
    --input-border-size: 1.3px;
    --footer-border-color: #8c00ff;
    --ag-button-text-color: #1E1E1E;
	--primary-background-color: #1e1e1e;
  --secondary-background-color: #2a2a2a;
  --accent-color: #8600ff;
  --main-text-color: #ffffff;
  --search-placeholder-color: #a800ff;
  --bookmark-background-color: #6B52A3;
  --bookmark-hover-background-color: #5B3A75;
  --input-background-color: #1a1a2b;
  --button-background-color: #6B52A3;
  --button-text-color: #fff;
  --button-hover-background-color: #a800ff;
  --cancel-button-background-color: #4C2C63;
  --save-button-background-color: #3A9259;
}

body {
  background-color: var(--background-primary);
  color: #fff;
  font-family: 'Share Tech Mono';font-size: 24px;
  margin: 0px;
  padding: 0;
  vertical-align: middle;
  position: r;
}

#header {
  background-color: var(--background-primary);
  padding: 20px;
  text-align: center;
}

#particles-js { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-color: var(--background-primary); 
  background-image: url("https://i.imgur.com/Xptr016.jpg");
  background-repeat: no-repeat; 
  text-align: center;
  padding: 20px;
  margin-top: -4%;
} 

#imgsearch {
  display: grid;
  position: absolute;
  align-items: center;
  justify-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}

#imgsearch h1 {
  font-size: 24px;
  cursor:pointer;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}

#content {
  text-align: center;
  padding: 20px;
  margin-top: -4%;
}

#content h1 {
  font-size: 24px;
  cursor:pointer;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}

#searchbar {
  text-align: center;
  margin: 0px;
}

.form {
  position: absolute;
  align-self: center;
}

.form__input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  box-shadow: 0 0 5px rgba(196, 196, 196, 0.3);
  background-color: var(--input-background-color);
  text-align: center;
  color: var(--input-text-color);
  cursor:cell;
}

a{
  text-decoration: none;
  color:white;
  text-align: center;
  align-self: center;
}

.form__input::placeholder {
  color: var(--input-placeholder-color);
  text-align: center;
}

.form_input:hover{
  cursor:cell;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(149, 20, 255);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--footer-border-color);
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height:15px;
  background-color: var(--background-primary);
  padding-top: 7.5px;
  padding-bottom: 10px;
  text-align: center;
  color: var(--input-text-color);
  font-size: 14px;
}

#footer p {
  margin: 0;
}

.fa {
  font-size: 24px;
  margin-right: 10px;
  color: var(--input-text-color);
}

.fa:hover {
  color: var(--input-placeholder-color);
}


#icbuttons {
  position: absolute;
  top: 20px;
  z-index: 999;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
  cursor: pointer;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.column {
  width: 145px;
  transition: all 0.2s ease;
  cursor: crosshair;
  background: rgb(151,0,255);
  background: linear-gradient(122deg, rgba(151,0,255,1) 0%, rgba(0,116,166,1) 46%, rgba(0,255,211,1) 100%);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin: 0;
  
}

.column img {
  position: absolute;
  width: 145px;
  height: 145px;
  border-radius: 0px;
  transition: all 0.2s ease;
  border-radius: 10px;
}

.column p {
  width: 145px;
  height: 19px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: var(--ag-button-text-color);
  text-shadow: 0px 0px 30px rgba(20, 255, 189, 0.38);
  padding-top: 136px;
  padding-bottom: 12px;
}

.column:hover {
  transform: scale(1.2);
}

.column:hover .label {
  transform: translateX(-50%) scale(1.3);
}

.input-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	}
	
	input {
	  padding: 20px;
	  width: 550px;
	  border-radius: 5px;
	  background:  var(--input-background-color);
	  text-align: center;
	  border: none;
	  outline: none;
	  color: white;
	}

	select {
		padding: 20px;
		border-radius: 5px;
		background:  var(--input-background-color);
		color: white;
		border: 0px;
		outline: none;
    cursor: pointer;
	  }
.container-apps {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.3em;
  flex-direction: row;
}
.pinned-apps {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.3em;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 12px;
	background-color: black;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #222;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: white;
}

.message {
  text-align: center;
  color: var(--text);
  font-size: 1.5rem;
  margin: 1rem;
  align-self: center;
  display: flex;
}


.homemessage {
  cursor: pointer;
  width: fit-content;
  user-select: none;
}

/* Tabs */
.tab-container {
  flex-grow: 1;
  padding: 10px;
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
}

.inputcontainermain {
  flex-grow: 1;
  flex-direction: row-reverse;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: var(--secondary-background-color);
  border-radius: 5px;
}

.search {
  flex-grow: 0;
  padding: 12.5px 10px;
  border: none;
  width: 95%;
  border-radius: 5px;
  background-color: var(--secondary-background-color);
  color: var(--main-text-color);
  outline: none;
  font-family: 'Share Tech Mono';
}

.search:focus::placeholder {
  color: transparent;
  color: var(--search-placeholder-color);
  font-family: ''Share Tech Mono';
}

.tabs {
  list-style: none;
  padding: 0;
  max-width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  border-bottom: 0.025px solid white;
  background-color: var(--primary-background-color);
}

#add-tab-btn,
#closetabbtn {
  position: relative;
  padding: 10px 10px;
  cursor: pointer;
  border: 1px solid var(--primary-background-color);
  border-right: none;
  background-color: var(--secondary-background-color);
  display: flex;
  align-items: center;
}

.tabs li {
  position: relative;
  margin-left: 1px;
  padding: 10px 15px;
  cursor: pointer;
  min-width: 0px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border: 1px solid var(--secondary-background-color);
  background-color: var(--primary-background-color);
  display: flex;
  align-items: center;
  z-index: 1;
}

.tabs li.active {
  background-color: var(--secondary-background-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabs li i {
  margin-right: 5px;
}

.tab-panels {
  flex-grow: 1;
  border: 1px solid var(--primary-background-color);
  padding: 10px;
  background-color: var(--primary-background-color);
  overflow: hidden;
}

.tab-panel {
  display: none;
  height: 100%;
}

.tab-panel.active {
  display: block;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
}

.input-container {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  margin-top: 5px;
  background-color: var(--primary-background-color);
}

.refresh-btn,
.back-btn,
.forward-btn {
  font-size: 18px;
  margin-right: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--main-text-color);
}

.input-container button.disabled {
  opacity: 0.3;
  cursor: default;
}

.rightcontrol {
  position: relative;
}

.rightcontrol a {
  display: inline-block;
  margin-right: 10px;
  padding: 8px;
  color: var(--main-text-color);
  background-color: var(--secondary-background-color);
  border-radius: 5px;
  transition: background-color 0.3s;
}

.rightcontrol a:hover {
  background-color: var(--accent-color);
}

.rightcontrol i {
  font-size: 16px;
}

.rightcontrol a:last-child {
  margin-right: 0;
}

#bookmarks-bar {
  display: block;
  position: relative;
  margin-top: -5%;
  border-bottom: 1px solid var(--main-text-color);
  align-items: center;
  height: 32px;
  background-color: var(--secondary-background-color);
  /* Darker background color for the bookmarks bar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 10px;
  flex-wrap: wrap;
}

#bookmarks-panel a {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 0 10px;
  height: 24px;
  text-decoration: none;
  color: var(--main-text-color);
  border-radius: 5px;
  transition: background-color 0.3s;
  background-color: var(--primary-background-color);
  cursor: pointer;
}

#bookmarks-panel a:hover {
background-color: var(--bookmark-hover-background-color);
}

#bookmarks-panel button {
  cursor: pointer;
  color: var(--main-text-color);
  font-size: 12px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color: none;
}

#bookmark-btn {
  background-color: transparent;
}

/* Additional CSS for bookmark icons */
#bookmarks-bar img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

#bookmarks-bar span {
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#bookmarks-panel:hover .bookmarks-dropdown {
  display: block;
}


.bookmark-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  width:400px;
  height:250px;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: #fff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 9999;
  background-color: var(--secondary-background-color);
  color: var(--main-text-color);
}

.bookmark-popup h2 {
  margin-bottom: 10px;
}

.bookmark-popup input[type="text"] {
  display: block;
  width:90%;
  margin:5px auto;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
}

.bookmark-popup input[type="text"]::placeholder {
  color: var(--input-placeholder-color);
}

.bookmark-popup button {
  padding: 8px 16px;
  border: none;
  align-self: center;
  text-align: center;
  border-radius: 5px;
  background-color: var(--button-background-color);
color: var(--button-text-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.bookmark-popup button.cancel-btn {
  background-color: var(--cancel-button-background-color);
  margin-right: 10px;
}

.bookmark-popup button.save-btn {
  background-color: var(--save-button-background-color);
}

.bookmark-popup button:hover {
  background-color: var(--button-hover-background-color);
}


.button-container {
  display: flex;
  justify-content: space-between;
}

#bookmarks-overflow {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--secondary-background-color);
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow-y: auto;
  z-index: 2;
}

#bookmarks-overflow.show {
  display: block;
}

.bookmark-item {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 0 10px;
  height: 24px;
  text-decoration: none;
  color: var(--main-text-color);
  border-radius: 5px;
  background-color: var(--bookmark-background-color);
  transition: background-color 0.3s;
}

.context-menu {
  position: absolute;
  background-color: var(--bookmark-background-color);
  border-radius: 5px;
  width: 100px;
  padding: 8px 12px;
  z-index: 999;
}

.context-menu div {
  cursor: pointer;
  border-radius: 10px;
  padding: 8px;
}

.context-menu div:hover {
  background-color: var(--accent-color);
}
