:root {
    --background-primary: #000;
    --input-text-color: #fff;
    --input-placeholder-color: #aaa;
    --input-background-color: #222;
    --input-border-color: #FAAC03;
    --input-border-size: 1.3px;
    --footer-border-color: #FAAC03;
    --ag-button-text-color: #1E1E1E;
}

body {
  background-color: var(--background-primary);
  color: #fff;
  font-family: 'Share Tech Mono';font-size: 24px;
  margin: 0px;
  padding: 0;
  vertical-align: middle;
  position: r;
}

#header {
  background-color: var(--background-primary);
  padding: 20px;
  text-align: center;
}

#particles-js { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-color: var(--background-primary); 
  background-image: url("/static/css/themes/ip.jpg");
  background-repeat: no-repeat; 
  background-size: contain;
  text-align: center;
  padding: 20px;
  margin-top: -4%;
} 

#imgsearch {
  display: grid;
  position: absolute;
  align-items: center;
  justify-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
}

#imgsearch h1 {
  font-size: 24px;
  cursor:pointer;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}

#header img {
  width: 20%;
  height: auto;
  margin-top: 40px;
}

#content {
  text-align: center;
  padding: 20px;
  margin-top: -4%;
}

#content h1 {
  font-size: 24px;
  cursor:pointer;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}

#searchbar {
  text-align: center;
  margin: 0px;
}

.form {
  position: absolute;
  align-self: center;
}

.form__input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  box-shadow: 0 0 5px rgba(196, 196, 196, 0.3);
  background-color: var(--input-background-color);
  text-align: center;
  color: var(--input-text-color);
  cursor:cell;
}

a{
  text-decoration: none;
  color:white;
  width:50px;
  height:50px;
  padding-right: 1px;
  padding-left: 1px;
  text-align: center;
  align-self: center;
}

.form__input::placeholder {
  color: var(--input-placeholder-color);
  text-align: center;
}

.form_input:hover{
  cursor:cell;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(149, 20, 255);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--footer-border-color);
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height:15px;
  background-color: var(--background-primary);
  padding-top: 7.5px;
  padding-bottom: 10px;
  text-align: center;
  color: var(--input-text-color);
  font-size: 14px;
}

#footer p {
  margin: 0;
}

.fa {
  font-size: 24px;
  margin-right: 10px;
  color: var(--input-text-color);
}

.fa:hover {
  color: var(--input-placeholder-color);
}


#icbuttons {
  position: absolute;
  top: 20px;
  z-index: 999;
}

.zoom {
  transition: transform .2s;
  margin: 0 auto;
  cursor: pointer;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.column {
  width: 145px;
  transition: all 0.2s ease;
  cursor: crosshair;
  background: rgb(151,0,255);
  background: linear-gradient(122deg, rgba(151,0,255,1) 0%, rgba(0,116,166,1) 46%, rgba(0,255,211,1) 100%);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin: 0;
  
}

.column img {
  position: absolute;
  width: 145px;
  height: 145px;
  border-radius: 0px;
  transition: all 0.2s ease;
  border-radius: 10px;
}

.column p {
  width: 145px;
  height: 19px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: var(--ag-button-text-color);
  text-shadow: 0px 0px 30px rgba(20, 255, 189, 0.38);
  padding-top: 136px;
  padding-bottom: 12px;
}

.column:hover {
  transform: scale(1.2);
}

.column:hover .label {
  transform: translateX(-50%) scale(1.3);
}

.input-container {
	position: relative;
	margin-top: 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5em;
	}
	
	input {
	  padding: 20px;
	  width: 550px;
	  border-radius: 5px;
	  background: #353535;
	  text-align: center;
	  font-size: 24px;
	  border: none;
	  outline: none;
	  color: white;
	}

	select {
		padding: 20px;
		border-radius: 5px;
		background: #353535;
		color: white;
		font-size: 20px;
		border: 0px;
		outline: none;
    cursor: pointer;
	  }
.container-apps {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.3em;
  flex-direction: row;
}
.pinned-apps {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.3em;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 12px;
	background-color: black;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #222;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: white;
}
