:root {
    --main-background-color: #1a1a2b;
    --main-text-color: #fff;
    --discord-button-background-color: #6B52A3;
    --discord-button-hover-background-color: #5B3A75;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
  }
  
  body {
    font-family: 'Share Tech Mono';
    margin: 0;
    padding: 0;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1, h2, h3 {
    font-family: 'Share Tech Mono';
  }
  
  .container {
    text-align: center;
    padding: 20px;
    max-width: 600px;
  }
  
  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .features {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .feature-item {
    margin-bottom: 10px;
  }
  
  .feature-item:before {
    content: "";
  }
  
  .contact {
    font-size: 20px;
    margin-top: 30px;
  }
  
  .discord-button {
    font-family: "Roboto", sans-serif;
    background-color: var(--discord-button-background-color);
    color: var(--main-text-color);
    border-radius: 5px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px var(--box-shadow-color);
    font-size: 18px;
  }
  
  .discord-button:hover {
    background-color: var(--discord-button-hover-background-color);
  }
  
  .discord-button i {
    margin-right: 5px;
  }
  
  ul {
    list-style-type: none;
  }
  
