/* Custom CSS for black theme */
body {
  background-color: #000;
  color: #fff;
  font-family: 'Share Tech Mono';font-size: 24px;
  margin: 0;
  padding: 0;
  position: r;
}

#particles-js { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-color: #000000; 
  background-image: url("");
  background-repeat: no-repeat; 
  text-align: center;
  padding: 20px;
  margin-top: -4%;
} 

#imgsearch {
  display: grid;
  position: absolute;
  align-items: center;
  justify-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

#imgsearch h1 {
  font-size: 24px;
  cursor:pointer;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}

#searchbar {
  text-align: center;
  margin: 20px auto;
}

.form {
  position: absolute;
  align-self: center;
}

.form__input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  box-shadow: 0 0 5px rgba(196, 196, 196, 0.3);
  background-color: #222;
  text-align: center;
  color: #fff;
  cursor:cell;
}

a{
  text-decoration: none;
  color:white;
  width:50px;
  height:50px;
  padding-right: 1px;
  padding-left: 1px;
  text-align: center;
  align-self: center;
}

.form__input::placeholder {
  color: #aaa;
  text-align: center;
}

.form_input:hover{
  cursor:cell;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(20, 255, 188);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #14FBB9;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height:15px;
  background-color: #000;
  padding-top: 7.5px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

#footer p {
  margin: 0;
}

.fa {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
}

.fa:hover {
  color: #aaa;
}
canvas { 
  display: flex; 
  vertical-align: bottom; 
  horizontal-align: center;
}
