/* Custom CSS for black theme */
body {
  background-color: #000;
  color: #fff;
  font-family: 'Share Tech Mono';font-size: 24px;
  margin: 0;
  padding: 0;
  position: r;
}

#particles-js { 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  background-color: #000000; 
  background-image: url("");
  background-repeat: no-repeat; 
  text-align: center;
  padding: 20px;
  margin-top: -4%;
} 

#imgsearch {
  display: grid;
  position: absolute;
  align-items: center;
  justify-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

#imgsearch h1 {
  font-size: 24px;
  cursor:pointer;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
}

#searchbar {
  text-align: center;
  margin: 20px auto;
}

.form {
  position: absolute;
  align-self: center;
}

.form__input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  box-shadow: 0 0 5px rgba(196, 196, 196, 0.3);
  background-color: #222;
  text-align: center;
  color: #fff;
  cursor:cell;
}

a{
  text-decoration: none;
  color:white;
  width:50px;
  height:50px;
  padding-right: 1px;
  padding-left: 1px;
  text-align: center;
  align-self: center;
}

.form__input::placeholder {
  color: #aaa;
  text-align: center;
}

.form_input:hover{
  cursor:cell;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(20, 255, 188);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #14FBB9;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height:15px;
  background-color: #000;
  padding-top: 7.5px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}

#footer p {
  margin: 0;
}

.fa {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
}

.fa:hover {
  color: #aaa;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.02);
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #14ffbc;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
