#sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
 left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.445);
  backdrop-filter: blur(5px);
  overflow-x: hidden;
  opacity: 1;
  transition: opacity 1s; 
}

/* Style the sidenav links and the dropdown button */
#sidenav a, #sidenav button, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #f1f1f1;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
#sidenav a:hover, .dropdown-btn:hover {
  color: #a800ff;
}

#sidenav.fade {
  opacity: 0;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: black;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.closebutton {
  top: 0;
  right: 0;
  position: absolute;
}

#settings-boxes {
  background-color: a800ff;
  height: 300px;
  width: 300px;
  display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#settings-boxes h2, p {
  color: white;
}

#barswitch {
  font-size: 50px;
  color: white;
}

#iconswitch {
  font-size: 50px;
  color: white;
}
.names {
  margin-left: 5px;
  font-size: 13px;
  color: white;
  font-family: 'Noto Sans';
  cursor: pointer;
  text-decoration: none;
  font-weight: none;
}


