#sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
 left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.445);
  backdrop-filter: blur(5px);
  overflow-x: hidden;
  opacity: 1;
  transition: opacity 1s; 
}

/* Style the sidenav links and the dropdown button */
#sidenav a, #sidenav button, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #f1f1f1;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
#sidenav a:hover, .dropdown-btn:hover {
  color: #1983f0;
}

#sidenav.fade {
  opacity: 0;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: black;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown {
  background-color: #1f1f1f;
  border-radius: 30px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.closebutton {
  top: 20px;
  right: 10px;
  position: absolute;
}

#settings-boxes {
  background-color: #363636;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
}

#settings-boxes h2, p {
  color: white;
}

#barswitch {
  font-size: 50px;
  color: white;
}

#iconswitch {
  font-size: 50px;
  color: white;
}
.names {
  margin-left: 5px;
  font-size: 13px;
  color: white;
  font-family: 'Noto Sans';
  cursor: pointer;
  text-decoration: none;
  font-weight: none;
}

#sidenav {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
  margin-bottom: 20px;
}

#sidenav.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.button-save {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .125em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #1f1f1f;
  --color: #afffff;
  color: var(--color);
    /* use position: relative; so that BG is only for .save */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: .5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
  clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
  transition: color 250ms;
  margin-left: 5px;
}

.button-save::after,
.button-save::before {
  content: '';
  position: absolute;
  inset: 0;
}

.button-save::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%
  }

  50% {
    background-position: 70% 100%
  }

  100% {
    background-position: 31% 0%
  }
}

.button-save::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
            /* Top-left */
            var(--border-width) 
            calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) 
            var(--border-width),

            calc(100% - var(--border-width)) 
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

.button-save:where(:hover, :focus)::after {
  clip-path: polygon(
                /* Top-left */
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    
                calc(100% - var(--border-width))

                var(--border-width),
    
                /* top-right */
                calc(100% - var(--border-width))

                 var(--border-width),
    
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
    
                /* bottom-right 1 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                calc(100% - var(--border-width)),

                /* bottom-right 2 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                calc(100% - var(--border-width)));
  transition: 200ms;
}

.button-save:where(:hover, :focus) {
  color: #fff;
}
