body { 
  margin:0; 
  font:normal 75% Arial, Helvetica, sans-serif; 
} 
canvas { 
  display: block; 
  vertical-align: bottom; 
} /* ---- particles.js container ---- */ 
#particles-js { 
  position: absolute; 
  width: 100%; 
  height: 200%; 
  background-color: #000000; 
  background-image: url("https://i.imgur.com/Xptr016.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center, center;
  text-align: center;
  padding: 20px;
  margin-top: -4%;
} 

#particles-js2 { 
  position: absolute; 
  width: 100%; 
  height: 200%; 
  background-color: rgba(0, 0, 0, 0.2); 
  background-image: url("");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center, center;
  text-align: center;
  padding: 20px;
  margin-top: -4%;
} 
